mixin subnav(list)
  nav
    ul(class='[ subnav ]')
      each item, i in list
        li(class='[ subnav__item ] [ py--05 ]')
          a(href=item.link)= item.page

//- if contact

//- else

//-   section

//-     div(class='[ wrapper ] [ py--5 animated fade-in--up ]')

//-       h2(class='[ color--prime ]') Have a project for us?
//-       p We help businesses succeed in the digital world.
    
//-       +arrow('Get in touch', '/contact', 500)

footer(class='[ cta ][ py--5 ]')

  div(class='[ flex--col center middle ]')

    h4(class='[ font--1 mb--0.5 ]') Ready to ship?

    a(href='/' class='[ btn btn--solid--lg ]') Request a quote

footer(class='[ footer ] [ pt--5 pb--4 ]')

  div(class='[ wrapper ] [ grid g--4 pb--5 ]')


    //- div(class='[ slogan ]')

    //-   a(class='[ logo ] [ flex middle mb--1 ]' href='/' aria-label='Homepage')
    //-     include ../graphics/_logo

      //- p(class='[ pb--0 ]') 3PL. Made Simple.


    div(class='[ navigation ] [ grid gc--4 ]')

      div
        h4(class='[ mb--1 ]') Our Company 

        nav 
          ul(class='[ grid gr--0.5 ]') 
            li
              a(href='#') Overview 
            li
              a(href='#') Team 
            li
              a(href='#') Careers

      div
        h4(class='[ mb--1 ]') Our Services

        nav 
          ul(class='[ grid gr--0.5 ]') 
            li
              a(href='#') Overview 
            li
              a(href='#') Import/Export
            li
              a(href='#') Customs Brokerage 
            li
              a(href='#') Warehousing
            li
              a(href='#') Distribution
            li
              a(href='#') Last-Mile Delivery
            li
              a(href='#') Reverse Logistics

      div
        h4(class='[ mb--1 ]') Help

        nav 
          ul(class='[ grid gr--0.5 ]')
            li
              a(href='#') Resource Center
            li
              a(href='#') Help Center
            li
              a(href='#') Site Map

    form(class='[]' action='' method='')
      h4(class='[ ]') Sign up for our Newsletter

      +input('First Name', 'name', 'text', 'required', 'i.e. John/Jane Doe')

      +input('Email', 'email', 'email', 'required', 'i.e. your@email.com')

      button(class='[ btn btn--solid--lg ]' type='submit') Submit


    ul(class='[ social ] [ flex ]')
      +fb('#')
      +tw('#')
      +in('#')


  //- b(class='[ line ] [ block ] ')
  div(class='[ copy ][ lg:flex middle gc--1 ]')

    div(class='[ submark ][ mb--2 lg:mb--0 ]')
      include ../graphics/submark.svg

    div
      nav(class='[ mb--2 lg:mb--0 ]')

        ul(class='[ flex--col lg:flex--row g--1 ]')
          each policy, index in policies
            li
              small
                a(href=policy.link)= policy.title

      small= `© ${year} XPS Logistics. All rights reserved.`