- 
  let menu = [
    //- {page:'Work', link:'/work/', current: work}, 
    {page:'Company', link:'/company', current: agency},
    {page:'Services', link:'/services', current: capabilities},
    {page:'Resource Center', link:'/insights/', current: blog}, 
    {page:'Contact Us', link:'/contact-us', current: contact}
    ]

//- input#click(type='checkbox', tabindex='0', aria-labelledby='prompt')
//- - white = true

header#navbar(class='[ navbar ]')
  
  div(class='[ wrapper ][ x--wide--p flex between middle ]')

    a(class='[ logo ][ color--black flex middle ]' href='/' aria-label='Homepage')
      include ../graphics/_logo

    label#navicon(for='click' class='[ navicon ][ flex middle ]')
      strong#prompt(class='[ hidden ]') Menu
      b(class='[ bar ][ block ]')

    nav(class='[ navigation--main ]')

      ul(class='[ menu menu--main ][ lg:flex gc--2 ]')
        each item, i in menu
          li(class='[ menu__item ][ flex font--700 ]')
            a(href= item.link, class=`[ menu__link ][ ${item.current ? ' current' : ''} color--black ]`)= item.page

