{{- define "main" -}}
<div>
  <header class="[ hero ][ py--5 ]">
    <h1 class="[ hidden ]">About Us</h1>
    <div class="[ wrapper ][ flex middle ]">
      <div class="[ hero__content ][ flex middle ]">
        <h2 class="[ font--1 color--white ]">3PL. <br> Made simple.</h2>
      </div>
    </div>
  </header>
  {{ partial "breadcrumbs.html" .}}
</div>
  <section class="[ grid section--spacing ]">
    <div class="[ lead ][ grid gap--2 ]">
      <div class="[ lead__heading ]">
        <h2 class="[ bar-before ][ flex--col row-gap--1 ]">Your trusted 3PL partner</h2>
      </div>
      <p class="[ lead__content ][ font--3 font--500 ]">At XPS Logistics, we're dedicated to making things simple for those looking for 3PL solutions in The Bahamas. No matter what you need — freight forwarding, customs brokerage, warehousing, distribution, or fulfillment — we've got you covered.</p>
    </div>
    <ul class="[ grid md:col--2 lg:col--3 gap--2 ]">
      <li>
        <h3>Regional Reach</h3>
        <p>Our reach extends throughout The Bahamas, Caribbean, North, and South America, allowing us to provide reliable logistics solutions tailored to your needs.</p>
      </li>
      <!--
      <li>
        <h3>Data-driven</h3>
        <p>We're committed to leveraging the latest technology, using data and supply chain analysis to optimize our logistics operations and increase efficiency.</p>
      </li>
      -->
      <li>
        <h3>Strategic Growth</h3>
        <p>We're increasing our warehouse capacity, expanding our fleet while investing in onboarding and training our team to meet increasing demands.</p>
      </li>
      <li>
        <h3>Proven Experience</h3>
        <p>Leveraging over five decades of industry experience in freight-forwarding, warehousing and distribution we have exactly what it takes to deliver results.</p>
      </li>
    </ul>
  </section>
  <!--
  <section>
    <div class="[ ]">
      <h2 class="[ font--1 ]">Keeping it simple with solutions that work</h2>
      <p class="[ font--4 ]">We're more than just a logistics provider, we're a strategic partner in simplifying and optimizing your supply chain.</p>
      <ul class="[ propositions ][ grid md:x2 g--2 ]">
        <li class="[ proposition ][ grid ]">
          <h3 class="[ o--2 ]">Growing the network</h3>
          <p class="[ o--3 ]">We’re one of the largest LTL carriers in North America, and we’re investing in more growth: adding equipment and doors, and training drivers to expand our team.</p>
          <figure class="[ ratio--16:9 o--1 mb--1 ]">
            <style>
              figure {
                background-image: url('https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview');
              }
              
            </style><img data-twic-src="image:uploads/.jpg" data-twic-preview="image:uploads/.jpg" data-twic-focus="auto" alt="" image="image"/>
            <noscript><img class="[ script ]" src="https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview"/></noscript>
          </figure>
        </li>
        <li class="[ proposition ][ grid ]">
          <h3 class="[ o--2 ]">Connecting with you</h3>
          <p class="[ o--3 ]">Our job is to help you succeed. We understand your business needs and treat your freight like it’s our own.</p>
          <figure class="[ ratio--16:9 o--1 mb--1 ]">
            <style>
              figure {
                background-image: url('https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview');
              }
              
            </style><img data-twic-src="image:uploads/.jpg" data-twic-preview="image:uploads/.jpg" data-twic-focus="auto" alt="" image="image"/>
            <noscript><img class="[ script ]" src="https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview"/></noscript>
          </figure>
        </li>
        <li class="[ proposition ][ grid ]">
          <h3 class="[ o--2 ]">Delivering efficiency</h3>
          <p class="[ o--3 ]">We’re always working on the next great idea to deliver value for customers with our LTL network technology, web tools and EDI/API integrations.</p>
          <figure class="[ ratio--16:9 o--1 mb--1 ]">
            <style>
              figure {
                background-image: url('https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview');
              }
              
            </style><img data-twic-src="image:uploads/.jpg" data-twic-preview="image:uploads/.jpg" data-twic-focus="auto" alt="" image="image"/>
            <noscript><img class="[ script ]" src="https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview"/></noscript>
          </figure>
        </li>
        <li class="[ proposition ][ grid ]">
          <h3 class="[ o--2 ]">Pushing for excellence</h3>
          <p class="[ o--3 ]">We communicate constantly with customers to make sure you’re getting the excellent service you deserve.</p>
          <figure class="[ ratio--16:9 o--1 mb--1 ]">
            <style>
              figure {
                background-image: url('https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview');
              }
              
            </style><img data-twic-src="image:uploads/.jpg" data-twic-preview="image:uploads/.jpg" data-twic-focus="auto" alt="" image="image"/>
            <noscript><img class="[ script ]" src="https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview"/></noscript>
          </figure>
        </li>
      </ul>
    </div>
  </section>
  -->
  <section class="[ banner--black full-width content-grid section--spacing py--5 ]">
      <h2 class="[ font--1 mb--0.5 ]">Driven by our values</h2>
      <ul class="[ grid md:col--2 lg:col--3 gap--2 ]">
        <li> 
          <h3 class="[ bar-before ][ flex--col gr--1 mb--0.5 ]">Put people first</h3>
          <p>Putting people first in everything we do, from our customers to our team members. Building lasting relationships is the foundation of our success.</p>
        </li>
        <li> 
          <h3 class="[ bar-before ][ flex--col gr--1 mb--0.5 ]">Be safe</h3>
          <p>We prioritize the safety and well-being of our team. By upholding high standards, we ensure everyone returns home safely, while also delivering our best service to customers.</p>
        </li>
        <li> 
          <h3 class="[ bar-before ][ flex--col gr--1 mb--0.5 ]">Be responsible</h3>
          <p>We speak up when there are opportunities to improve and take ownership of our mistakes because we believe in doing things the right way. <!-- Prioritizing accountability and integrity ensures a job well done, fosters trust within our team, and inspires confidence in our customers. --></p>
        </li>
        <li> 
          <h3 class="[ bar-before ][ flex--col gr--1 mb--0.5 ]">Be better</h3>
          <p>We believe in giving our best, which is why we're forward-thinking and invest in our people, technology, and equipment. Innovation provides us with opportunities to improve performance for our customers and employees alike.</p>
        </li>
        <li> 
          <h3 class="[ bar-before ][ flex--col gr--1 row-gap--0.5 ]">Be respectful</h3>
          <p>We're committed to fostering a culture of honesty and respect, where everyone has a voice. That's why we work hard to ensure that our team feels valued and their opinions are heard.</p>
        </li>
        <li> 
          <h3 class="[ bar-before ][ flex--col gr--1 row-gap--0.5 ]">Be world-class</h3>
          <p>We're determined to be #1 in 3PL. Competitive and driven to win, we don't settle for less than best— for ourselves or our customers.</p>
        </li>
      </ul>
  </section>
  <section>
    <div class="[ ]">
      <h2 class="[ font--1 ]">Our Team</h2>
      <div class="[ split-sub ][ pb--5 ]">
        <p class="[ font--4 ]">We're a team that prioritizes safety, a customer-focused approach, and operational excellence. That's why our team is comprised of industry professionals with a wealth of experience in operations and technology</p>
      </div>
      <ul class="[ team ][ grid md:col--2 lg:col--4 gap--2 ]">
        <li class="[ member ][ grid row-gap--0.5 ]">
          <h3 class="[ member__name ][ o--3 ]">Joseph Pinder</h3>
          <p class="[ member__role ][ font--small o--2 ]">General Manager</p>
          <figure class="[ member__photo ][ ratio--1:1 o--1 mb--1 ]">
            <style>
              figure {
                background-image: url('https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview');
              }
              
            </style><img data-twic-src="image:uploads/.jpg" data-twic-preview="image:uploads/.jpg" data-twic-focus="auto" alt="" image="image"/>
            <noscript><img class="[ script ]" src="https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview"/></noscript>
          </figure>
        </li>
      </ul>
    </div>
  </section>
  <section class="[ banner--black full-width content-grid ]">
    <div class="[ grid middle md:col--2 gap--2 ]">
      <div class="[ py--5 ]">
        <h2>Join our world class team</h2>
        <p>At XPS we value every employee because every employee is critical to our success. Let's connect!</p>
        <button class="[ btn btn--lg btn--red ]">Work with us</button>
      </div>
      <figure class="[ ratio--1:1 ]">
        <style>
          figure {
            background-image: url('https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview');
          }
          
        </style><img data-twic-src="image:uploads/.jpg" data-twic-preview="image:uploads/.jpg" data-twic-focus="auto" alt="A world class team" image="image"/>
        <noscript><img class="[ script ]" src="https://filiio.twic.pics/uploads/.jpg?twic=v1/output=preview"/></noscript>
      </figure>
    </div>
  </section>
  <section class="[ grid section--spacing ]">
    <h2>Newsroom</h2>

    <ul class="[ posts ][ grid md:col--3 col-gap--1 row-gap--2 ]">
      {{- $format := "January 2, 2006" -}}
      {{- $iso := "2006-01-02T15:04:05Z07:00" -}}
      {{- $categoryLabels := dict "Trade-Industry" "Trade & Industry" "Logistics-Supply Chain" "Logistics & Supply Chain" "Newsroom" "Newsroom" -}}
      {{ $counter := 0 }}
      {{ $insights := first 3 (where .Site.RegularPages "Params.categories" "intersect" (slice "Newsroom")) }}
      {{ range $insights }}
        {{ $counter := add $counter 1 }}
        <li id="post-{{$counter}}" class="[ post ]">
          <a class="[ post__link ][ grid row-gap--0.5 ]" href="{{ .RelPermalink }}" data-prefetch>
            <figure class="[ post__img ][ ratio--16:9 ]">

            </figure>
            <div class="[ grid ]">
              <h2 class="[ font--3 o--2 ]">{{ .LinkTitle }}</h2>
              <div class="[ o--1 ]">
                {{- $page := . -}}
                {{- range sort $page.Params.categories }}
                <small>{{- index $categoryLabels . | default . -}}</small>
                {{- end }}
                | <small>{{ .ReadingTime }} min read</small>
              </div>
              <p class="[ o--3 ]">{{ .Description | truncate 145 "[...]" | plainify }}</p>
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
  <section class="[ grid center row-gap--3 ]">
    <h2 class="[ font--2 ]">Ready to start shipping with confidence?</h2>
    <div class="[ text--center ]">
      <a href="/contact-us" class="[ btn btn--lg btn--red ]" data-prefetch>Let’s Talk</a>
    </div>
  </section>

{{- end -}}