@use 'functions' as *
@use 'mixins' as *

=unstyled-link
  font-weight: 700
  color: color('black')
  padding-bottom: em(2)
  border-bottom: em(2) solid color('xps-red')
  +transition((color, background-color))

  +hover
    color: color('xps-red')
    background-color: color('xps-red-1')
