{{- define "variables" -}}
{{ .Store.Set "hasTwic" true }}
{{- end -}}
{{ define "main" }}
  {{ partial "hero.html" . }}
  {{ partial "highlights.html" .}}

  {{ partial "service-list.html" (dict "page" .) }}
  
  <section class="[ service-cta ][ full-width content-grid ]">
    <div class="[ grid middle section--padding ]">
      <div>
        <h2 class="[ font--3 ]">Ready to start shipping with confidence?</h2>
        <p class="[ ch--54 ]">Let's talk about how XPS can support your next move—whether it's a single shipment or a full 3PL program.</p>
      </div>
      <div>
        <a class="[ btn btn--lg btn--red ]" href="/contact-us/">Talk to our team</a>
      </div>
    </div>
  </section>

{{ end }}
