{{ define "main" }}
<div>
  <header class="[ hero hero--service ][ py--5 ]">
    <div class="[ wrapper ][ flex middle ]">
      <div class="[ hero__content ][ ch--54 ]">
        <h1>{{ .Title }}</h1>
        <p class="[ font--4 ]">{{ .Description }}</p>
      </div>
    </div>
  </header>
  {{ partial "breadcrumbs.html" . }}
</div>
<section class="[ service-highlights ][ grid col-gap--2 row-gap--2 md:col--3 ]">
    {{ range .Params.highlights }}
      <div class="[ card ]">
        <h3>{{ .title }}</h3>
        <p>{{ .text }}</p>
      </div>
    {{ end }}
  </section>
<ul class="[ grid md:col--2 col-gap--2 row-gap--3 ]">
  {{ range .Pages.ByWeight }}
    <li class="[ card card--stacked row-gap--2 ]">
      <a class="[ heading-link ]" href="{{ .RelPermalink }}">
        <figure class="[ ratio--16:9 ]"></figure>
        <div class="[ flow ]">
          <h2>{{ .Title }}</h2>
          <p class="[ o--2 ]">{{ .Summary }}</p>
        </div>
      </a>

        <a class="[ font--700 ]">Learn More</a>
    </li>
  {{ end }}
</ul>
{{ end }}
