{{ define "main"}}
  <div>
    <header class="[ hero hero--service ][ py--5 ]">
      <div class="[ wrapper ][ flex middle ]">
        <div class="[ hero__content ][ ch--54 ]">
          <h1>{{ .Title }}</h1>
          <p class="[ font--4 ]">{{ .Description }}</p>
        </div>
      </div>
    </header>
    {{ partial "breadcrumbs.html" . }}
  </div>
  <section class="[ service-highlights ][ grid col-gap--2 row-gap--2 md:col--3 ]">
    {{ range .Params.highlights }}
      <div class="[ card ]">
        <h3>{{ .title }}</h3>
        <p>{{ .text }}</p>
      </div>
    {{ end }}
  </section>
<section class="[ service--blocks ][ full-width content-grid section--padding section--spacing ]">

  <div class="[ service--block grid middle gap--2 ]">
    <div>
    <h2>What We Offer</h2>
    {{ with .Params.offers }}
      {{ .content | markdownify }}
    {{ end }}
    </div>
    <figure class="[ ratio--4:7 ]">

    </figure>
  </div>

  <div class="[ service--block grid middle gap--2 ]">
    <div class="[ md:o--2 ]">
    <h2>Why Choose XPS for {{ .Title }}</h2>
    {{ with .Params.why }}
      {{ .content | markdownify }}
    {{ end }}
    </div>
    <figure class="[ ratio--4:7 md:o--1 ]">

    </figure>
  </div>

</section>

  <section class="[ faq ][ full-width content-grid ]">
    <div class="[ wrapper ][ grid ]">
      <div>
        <h2>Frequently Asked Questions</h2>
      </div>
      <div>
        {{ range .Params.faq }}
          <details class="[ details ]" name="faqs">
            <summary class="[ details__summary ]">{{ .question }}</summary>
            <div class="[ details__content ]">
            {{ .answer | markdownify }}
            </div>
          </details>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="[ content-grid ]">
    <b class="[ line ]"></b>
    <div class="[ grid center text--center section--padding-top ]">
      <h2 class="[ font--xl ]">Need help with {{ .Title | lower }}?</h2>
      <p class="[ ch--54 ]">Let's talk about how XPS can support your business with reliable, scalable logistics services in The Bahamas.</p>
      <div>
        <a class="[ btn btn--lg btn--red ]" href="/contact-us/">Get in Touch</a>
      </div>
    </div>
  </section>
{{ end }}