{{- define "main" -}}
<div class="[ grid layout--spacing section--padding-top ]">
  <header class="[ grid row-gap--1 ]">
    <div>
      <h1>{{- .Title -}}</h1>
      {{ partial "breadcrumbs.html" . }}
    </div>
    {{- $cat := index site.Data.categories "default" }}
    {{- with $cat }}
    <p class="[ x--700 pb--0 ]">{{ .description }}</p>
    {{- end }}
  </header>
  <ul>
    {{ range .Data.Terms.Alphabetical }}
      {{- $key := "" -}}
      {{- with .Page.File }}
        {{- $key = .BaseFileName -}}
      {{- else }}
        {{- $key = .Page.Title -}}
      {{- end }}
      {{- $cat := index site.Data.categories $key -}}
      <li>
        <a href="{{ .Page.RelPermalink }}">
          {{- $cat.title | default .Page.Title -}}
        </a>
      </li>
    {{ end }}
  </ul>
  
</div>

{{- end -}}
