{{- define "main" -}}

<div class="[ grid layout--spacing section--padding-top ]">
  <header>
    {{- $categoryLabels := dict "Trade-Industry" "Trade & Industry" "Logistics-Supply" "Logistics & Supply Chain" "Inside-XPS" "Inside XPS" -}}
    <h1>{{- index $categoryLabels .Title | default .Title -}}</h1>
    {{ partial "breadcrumbs.html" . }}
  </header>
  {{ if eq .Kind "taxonomy" }}
   <ul>
     {{ range .Data.Terms.Alphabetical }}
      <li>
        <a href="{{ .Page.RelPermalink }}">{{- index $categoryLabels .Page.Title | default .Page.Title -}}</a>
      </li>
    {{ end }}
   </ul>
  {{end}}
</div>

{{- end -}}
