{{- define "variables" -}}
{{ .Store.Set "hasTwic" true }}
{{- end -}}
{{- define "main" -}}
<div class="[ grid layout--spacing section--padding-top ]">
  <header class="[ grid row-gap--1 ]">
    <div>
      {{- $slug := .Title -}}
      {{- with index site.Data.categories $slug }}
        <h1>{{ .title }}</h1>
      {{- else }}
        <h1>{{ .Title }}</h1>
      {{- end }}
      {{ partial "breadcrumbs.html" . }}
  
    </div>
    {{- with index site.Data.categories $slug }}
    <p class="[ x--700 pb--0 ]">{{ .description }}</p>
    {{- end }}
  </header>
  <div class="[ loop-wrap ][ grid section--spacing ]">
    {{ $paginator := .Paginator }}
    {{ partial "posts.html" (dict "Pages" $paginator.Pages "Site" .Site) }}

    
    {{ partial "pagination.html" . }}

  </div>
</div>
{{- end -}}
