{{- define "variables" -}}
{{ .Store.Set "hasTwic" true }}
{{- end -}}
{{- define "main" -}}
<div class="[ grid layout--spacing section--padding-top ]">
  <header class="[ grid row-gap--1 ]">
    <div>
      {{- $title := partial "category-title.html" .Title -}}
      {{- $description := partial "category-description.html" .Title -}}
      <h1>{{ $title }}</h1>
      {{ partial "breadcrumbs.html" . }}
  
    </div>
    {{- with $description }}
    <p class="[ x--700 pb--0 ]">{{ . }}</p>
    {{- end }}
  </header>
  <div class="[ loop-wrap ][ grid section--spacing ]">
    {{ $term := .Params.category | default $title }}
    {{ $posts := where site.RegularPages "Section" "insights" }}
    {{ $posts = where $posts "Params.categories" "intersect" (slice $term) }}
    {{ $paginator := .Paginate $posts }}
    {{ partial "posts.html" (dict "Pages" $paginator.Pages "Site" .Site) }}

    
    {{ partial "pagination.html" . }}

  </div>
</div>
{{- end -}}
