{{- define "variables" -}}
{{ .Store.Set "hasTwic" true }}
{{- .Store.Set "hasObscure" true -}}
{{- end -}}
{{- define "main" -}}
<!-- Hero - START -->
<header class="[ hero hero--home ][ full-width bg ]" {{ with .Resources.GetMatch (.Params.hero.image) }}data-twic-background="url(image:{{ .RelPermalink }})"{{- end -}}>
  <h1 class="[ hidden ]">XPS Logistics</h1>
  <div class="[ wrapper ][ content-grid middle py--5 ]">
    <div class="[ grid md:col--2 ]">
      <div class="[ hero__content ] ">
        <h2 class="[ font--1 ]">{{ .Params.heading }}</h2>
        <p class="[ ch--48 ]">{{ .Params.subheading | safeHTML }}</p>
        <a class="[ btn btn--lg btn--white ]" href="/contact-us" data-prefetch>Get In Touch</a>
      </div>
    </div>
  </div>
</header>
<!-- Hero - END  -->
<section class="[ section--spacing bg--light text--center ]">
  <div class="[ wrapper ][ flow text--center ch--56 ]">
    <h2>Your Freight. Our Priority.</h2>
    <p>
      We coordinate every link in your logistics chain—freight forwarding, customs clearance, and delivery—we manage the logistics so your supply chain runs smoothly.
    </p>
  </div>
  {{ $services := site.GetPage "section" "services" }}
</section>
{{ partial "service-list.html" $services }}
<section class="[ full-width content-grid banner--black ]">
  <div class="[ wrapper ][ grid md:col--2 gap--2 ]">
    <div class="[ grid gap--1 section--padding ]">
      <div>
        <h2>Why XPS?</h2>
        {{ .Summary | safeHTML }}
      </div>
      <div>
        <a class="[ btn btn--lg btn--red ]" href="/company" data-prefetch>Learn More
          <span class="[ hidden ]">About XPS Logistics</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="[ grid section--spacing ]">
  <h2>Insights</h2>
  {{ $posts := (site.GetPage "section" "insights").RegularPages | first 3 }}
  {{ partial "posts.html" (dict "Pages" $posts "Site" .Site) }}
</section>

{{- end -}}