extends ../../layout/_layout

block var
  - title = 'Services'
  - heading = 'Effortless Shipping, <br>Warehousing, and More'
  - subheading = 'Whatever your idea, you\’ve come to us for our creativity, but you\’ll stay because we make your life easier.'
  - let description = 'Filiio Digital Marketing offers the best in web design for your business.'
  - pageUrl = ''
  - capabilities = 'current'

  - crumbs = {'Services':'last'}

  - size = 37

block content

  main#main(class='[ main ]')

    include ../../partials/_hero

    div(class='[ grid gr--5 py--5 ]')

      section

        div(class='[ x--wide ]')
          
          div(class='[ lead ][ grid g--2 mb--5 ]')

            div(class='[ lead__heading ]')
              h2(class='[ bar-before ][ flex--col gr--1 ]') We're all about efficiency in motion
            
            p(class='[ lead__content ][ font--3 font--500 ]' ) At XPS Logistics, we specialize in providing comprehensive 3PL solutions designed to simplify logistics for you and your business. From freight forwarding and customs brokerage to warehousing and distribution, we offer a full suite of logistics solutions to meet your needs.


      section
        
        div(class='[ x--wide ]')

          h2(class='[ font--1 ]') A team dedicated to giving you the coverage you need