{{- if and (eq .Section "careers") (not .IsSection) -}}
  {{- $salary := .Params.salary -}}
  {{- $posted := .Params.posted | default (.Date.Format "2006-01-02") -}}
  {{- $validThrough := .Params.valid_through | default "" -}}
  {{- $description := .Plain | htmlUnescape | truncate 5000 -}}
  {{- $schema := dict
    "@context" "https://schema.org"
    "@type" "JobPosting"
    "title" .Title
    "description" $description
    "datePosted" $posted
    "employmentType" (.Params.employment_type | default "FULL_TIME" | upper | replaceRE "[^A-Z0-9]+" "_")
    "hiringOrganization" (dict
      "@type" "Organization"
      "name" .Site.Title
      "sameAs" .Site.BaseURL
      "logo" (.Site.Params.share | absURL)
    )
    "jobLocation" (dict
      "@type" "Place"
      "address" (dict
        "@type" "PostalAddress"
        "addressLocality" (.Params.location | default "Nassau, The Bahamas")
        "addressCountry" "BS"
      )
    )
    "baseSalary" (dict
      "@type" "MonetaryAmount"
      "currency" ($salary.currency | default "BSD")
      "value" (dict
        "@type" "QuantitativeValue"
        "minValue" ($salary.min | default 0)
        "maxValue" ($salary.max | default 0)
        "unitText" ($salary.unit | default "YEAR")
      )
    )
  -}}
  {{- if $validThrough -}}
    {{- $schema = merge $schema (dict "validThrough" $validThrough) -}}
  {{- end -}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}
