if home
  header(class='[ hero hero--home ]')
    //- https://dribbble.com/shots/6360274-Unknown-media/attachments/1361971?mode=media
    h1(class='[ hidden ]') XPS Logistics
    
    div(class='[ wrapper ] [ x--wide flex middle py--5 ]')

      div(class='[ hero__content ] ')

        h2(class='[ font--1 color--white mb--0.5 ]') Trusted 
          abbr(title='Third Party Logistics') 3PL
          |  Warehousing, 
          br
          | Distribution, and Supply 
          br
          | Chain Solutions for you
        
        p(class='[ ch--48 color--white ]') XPS Logistics specializes in warehousing, distribution, and last-mile delivery services in Nassau and throughout The Bahamas, leveraging over two decades of expertise as a trusted third-party logistics provider.

        a(class='[ btn btn--solid--lg bg:color--red--200 ]') Request A Quote
        
else

  div(class='[ grid ]')

    header(class=`[ hero${custom ? ` hero--${custom}` : ''} ] [ py--5 o--2 ]`)
      
      h1(class='[ hidden ]')=title
      
      div(class=`[ wrapper ] [ x--wide flex middle ]`)

        div(class='[ hero__content ][ flex middle ]')

          h2(class='[ font--1 color--white ]')!=heading

          //- p(class='[ o--3 ]')=subheading

    div(class='[ o--1 ]')
      +breadcrumbs(crumbs)(class='[ x--wide py--0.5 o--1 ]')

