-
  services = [
    {name:'Import/Export', desc:'Streamline your supply chain with our comprehensive logistics management solutions, including planning, execution, and optimization.'},
    {name:'Customs Brokerage', desc:'Secure and efficient storage solutions tailored to your business needs, ensuring proper inventory management and order fulfillment.'},
    {name:'Warehousing', desc:'Reliable transportation services for seamless movement of goods, including inter-island shipping and international logistics.'},
    {name:'Distribution', desc:'Expert assistance in navigating customs regulations and ensuring smooth import and export processes.'},
    {name:'Last-Mile Delivery', desc:''},
    {name:'Reverse Logistics', desc:''},

  ]

section(class='[ bg:color--black color--white ]')

  div(class='[ x--wide py--5 ]')

    h2(class='[ font--1 mb--0.5 ]') Premium services designed to make your 

    ul(class='[ services ] [ grid md:x2 lg:x3 g--2 ]')

      each service, index in services

        li(class='[ services__item ]')
          h3(class='[ bar-before ][ flex--col gr--1 mb--0.5 ]')= service.name
          p(class='[ services__description ]')= service.desc






