@use '../abstracts' as *


.breadcrumb
  user-select: none
  position: relative

  &:last-of-type
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    &::after
      content: none
    
  &::after
    content: '\203A'
    position: absolute
    right: -0.75em
    top: 50%
    transform: translateY(-50%)
  
  &__link
    +unstyled-link

    &:focus-visible
      background-color: hsl(0 0 0 / 0)
      border-bottom: hsl(0 0 0 / 0)
      +transition((color, outline))
      
    &:has(svg)
      border-bottom: none
      +transition(fill)

    +hover
      fill: color('xps-red')

    &--last
      color: var(--text-muted)
      pointer-events: none