@use '../abstracts' as *

input, textarea
  // outline: $bg

  &:focus
    outline: none
    -webkit-appearance: none

  &:-webkit-autofill, &:focus
    font:
      size: var(--font-4)
      weight: 400
      weight: 500
    transition: background-color 600000s 0s, color 600000s 0s


.form

  &__input, &__message
    border: none
    border-bottom: em(2) solid color('black')

    &:focus
      border-bottom: em(2) dashed color('xps-red')
    
  &__message
    min-height: 6em
    resize: vertical


  // .error-message
  //   color: color('xps-red')
  //   position: absolute
  //   top: 110%


.options
  background-color: color('black')
  max-height: 0
  overflow: hidden
  position: absolute
  top: 100%
  left: 0
  z-index: 1

  +transition(max-height)

  &.open
    max-height: em(900)
    overflow: scroll

.option
  // color: $grey
  background-color: color('black')
  +transition((color, background-color))
  cursor: pointer

  +hover
    color: color('white')
    // background-color: rgba($body-bg, 1)

+ignore
  
  .btn--select
    width: 102%
    height: em(50)
    position: absolute
    z-index: 2
    top: 86%
    left: -1%
    transform: translateY(-80%)
    cursor: pointer
    +transition(transform)

    > span
      animation-duration: 300ms
      animation-timing-function: ease-in-out
      animation-fill-mode: forwards
      animation-name: closed

    svg
      fill: color('white')

    &.open

      > span
        animation-duration: 300ms
        animation-timing-function: ease-in-out
        animation-fill-mode: forwards
        animation-name: open


.required
  color: color('xps-red')

@keyframes open
  100%
    transform: rotate(180deg)

@keyframes closed
  0%
    transform: rotate(180deg)

  100%
    transform: rotate(0deg)

    
    