@use '../abstracts' as *

main
  padding-top: var(--navbar-height)

.banner

  &--black
    color: color('white')
    background-color: color('black')

    h2, h3
      color: inherit

+ratio(1,1)
+ratio(4,7)

+ch(54)

li::marker
  color: color('xps-red')

.text--center
  text-align: center


.none
  display: none

.block
  display: block