@use 'sass:math'
@use '../abstracts' as *
  
// .navbar
//   padding-block: 0.5em
//   border-bottom: 0.1rem solid #f0f0f0
//   height: var(--navbar-height)

//   > .wrapper
//     z-index: 15

// .logo
//   width: em(200)

// .nav
//   height: inherit

// .menu
//   gap: 2em

//   &__link
//     color: color('black')
//     padding: 0.25em 0.5em
//     border: 0.2em
//     position: relative
//     +transition('color')

//     +hover
//       color: color('white')
//       background-color: var(--background)

//     &.current
//       // color: color('white')
//       background-color: var(--background)
//       position: relative      

.navbar
  --_animationStartsAfter: 50vh
  --_animationDistance: 400px
  width: 100%
  height: var(--navbar-height)
  background-color: color('white')
  border-bottom: 1px solid #f0f0f0
  position: fixed
  z-index: 15

  > .wrapper
    height: inherit
    position: relative
    z-index: 15

.backdrop
  height: inherit
  position: absolute
  top: 0
  left: 0
  z-index: -1

.logo
  width: em(200)

.navigation--main
  height: inherit
  background-color: color('white')

  +device(tablet)
    display: block
    width: 100vw
    border-top: em(4) solid color('xps-red')
    visibility: hidden
    position: absolute
    top: var(--navbar-height)
    left: 200vw
    z-index: -5
    +transition((visibility, left, background-color))
    +dvh(height, 100)


.icon.icon--arrow
  width: rem(24)
  transform-origin: center
  +transition(transform)

  > svg
    stroke: currentcolor
    +transition(stroke)

.arrow
  perspective: em(800)
  transform-origin: center
  
  +device(tablet)
    width: 3em
    position: relative
    cursor: pointer

    &::before
      content: ''
      width: em(2)
      height: 100%
      background-color: color('black')
      position: absolute
      left: 0
      top: 0

    &:has(#submenu:focus-visible)
      outline: -webkit-focus-ring-color auto 1px

  +device(desktop)
    display: block
    pointer-events: none
    user-select: none
    cursor: not-allowed

    > input
      display: none
      visibility: hidden
      pointer-events: inherit
      user-select: inherit
      cursor: inherit


.menu
  display: flex
  background-color: color('white')

  +device(tablet)
    flex-direction: column

  +device(desktop)
    height: inherit
    padding-left: 1em
    grid-column: menu

  &__item
    color: var(--text-body)
    align-items: center
    position: relative

    +device(desktop)
      display: flex

      > div
        height: 100%
        display: flex
        align-items: center

      &:focus-within
        color: color('xps-red')

      &::after
        content: ''
        background-color: color('xps-red')
        width: 0
        height: em(4)
        position: absolute
        bottom: 0
        left: 0
        +transition(width)

      +hover
        color: color('xps-red')
        
        &::after
          width: 100%

        > .submenu
          visibility: visible
          opacity: 1
          top: 100%
          z-index: -2

        .icon--arrow
          // transform: rotate(180deg)
          transform: rotateX(180deg)
          
          > svg
            stroke: color('xps-red')

      &.current
        color: color('xps-red')
        
        &::after
          width: 100%

        .icon--arrow
          
          > svg
            stroke: color('xps-red')

    +device(tablet)
      +p(2, 'inline')

  &__link
    color: inherit
    position: relative
    +transition(color)

    +device(tablet)
      display: block
      +clamp(padding-right, 10, 20)
      +clamp(padding-left, 10, 20)



.submenu
  visibility: hidden
  opacity: 0
  // overflow: hidden
  

  +device(desktop)
    min-width: fit-content
    color: var(--text-body)
    background-color: color('white')
    box-shadow: 0 em(4) em(4) color('black-5')
    border-radius: em(2)
    position: absolute
    top: 100%
    left: 0.1em
    z-index: -2
    +transition((visibility, opacity))

  +device(tablet)
    max-height: 0

    +transition((max-height, visibility))
  
  &__item

    +device(desktop)
      &:first-of-type
        border-top-left-radius: em(10)
        border-top-right-radius: em(10)

      &:last-of-type
        border-bottom-left-radius: em(10)
        border-bottom-right-radius: em(10)

  &__link
    color: var(--text-body)
    white-space: nowrap
    border-top-left-radius: inherit
    border-top-right-radius: inherit
    border-bottom-left-radius: inherit
    border-bottom-right-radius: inherit

    +device(tablet)
      color: color('xps-red')
      background-color: color('xps-red-lightest')
      position: relative
      +clamp(padding-right, 10, 20)
      +clamp(padding-left, 10, 20)
      +transition((color, background-color))


      +hover
        background-color: color('xps-red-lighter')
      
    +device(desktop)
      padding: 
        right: 1em
        left: 1em
      +transition((color, background-color))

      +hover
        color: color('xps-red')
        background-color: color('xps-red-lightest')

    
.navicon
  display: flex
  width: em(25)
  height: em(20)
  position: relative
  z-index: 2
  cursor: pointer

  +device(desktop)
    display: none

  &:has(#click:focus-visible)
    outline: -webkit-focus-ring-color auto 1px

.bar
  width: inherit
  height: em(2)
  background-color: color('xps-red')
  border-radius: em(1)
  position: relative
  +transition((transform, background-color))
  cursor: inherit

  &::before, &::after
    content: ''
    width: inherit
    height: inherit
    background-color: inherit
    border-radius: inherit
    position: absolute
    right: 0
    z-index: 1
  
  &::before
    top: em(math.div(25, 2) - 3)
    +transition((top, opacity))

  &::after
    bottom: em(math.div(25, 2) - 3)
    +transition((bottom, transform)) 


.container:has(#click:checked)
  overflow: hidden
  position: fixed

  .navigation--main
    // background-color: var(--black--4)
    visibility: visible
    opacity: 1
    +dock('left', -2em)
    // left: -2em


    // > ul
    //   opacity: 1
  
  .bar
    transform: rotate(225deg)
  
    &::before
      top: 0
      opacity: 0

    &::after
      bottom: 0
      transform: rotate(-90deg)