mixin breadcrumbs(crumbs)
  if crumbs
    nav(class='[ breadcrumb ]' aria-label='Breadcrumb')&attributes(attributes)
      
      - crumbs

      ul(class='[ flex ]')
        
        li(class='[ breadcrumb__item ][ mr--1 ]')
          a(class='[ breadcrumb__link ][  ]' aria-label='Home' href='/')
            include ../graphics/home.svg
        
        each val, key in crumbs
          
          if val === 'last'
            
            li(class='[ breadcrumb__item ][ font--bold ]' aria-current='page')
              a(class='[ breadcrumb__link--last ][ color--blue-grey--500 ]' href=val)=key
          
          else
            
            li(class='[ breadcrumb__item ][ mr--1 ]')
              a(class='[ breadcrumb__link ]' href=val)=key
