form#form(class='[ form form--contact ] [ animated fade-in--up ]' method='POST' action='' data-validate)

  div(class='[ grid x2--md gc--2 gr--3 mb--3 ]')

    div(class='[ form__field ] [ flex--col--rev ]' x-data='{value: ""}')
      input#name(class='[ form__input ] [ font--4 font--500 py--0.25 ]' type='text' name='name' minlength='2' maxlength='50' :class='{"has-value": value.length > 0 }' x-model="value" placeholder=' ' required)
      label(class='[ form__label ]' for='name') 
        | First name 
        abbr(class='required' title='Required') *

    div(class='[ form__field ] [ flex--col--rev ]' x-data='{value: ""}')
      input#business(class='[ form__input ] [ font--4 font--500 py--0.25 ]' type='text' name='business' minlength='2' maxlength='200' :class='{"has-value": value.length > 0 }' x-model="value" placeholder=' ')
      label(class='[ form__label ]' for='name') 
        | Business name 
  
  div(class='[ grid x2--md gc--2 gr--3 mb--3 ]')

    div(class='[ form__field ] [ flex--col--rev ]' x-data='{value: ""}')
      input#email(class='[ form__input ] [ font--4 font--500 py--0.25 ]' type='text', name='email' :class='{"has-value": value.length > 0 }' x-model="value" placeholder=' ' required)
      label(class='[ form__label ]' for='email') 
        span Contact email
        abbr(class='required' title='Required') *

    div(class='[ form__field ] [ flex--col--rev ]' x-data='{value: ""}')
      input#tel(class='[ form__input ] [ font--4 font--500 py--0.25 ]' type='tel' name='tel' :class='{"has-value": value.length > 0 }' x-model="value" placeholder=' ' maxlength='18' minlength='7' pattern='[0-9-+ ()]+')
      label(class='[ form__label ]' for='tel') 
        | Contact telephone

  include _select
  
  div(class='[ form__field ] [ flex--col--rev mb--4 ]' x-data='{value: ""}')
    textarea#message( class='[ form__message ] [ font--4 font--500 pt--2 pb--1 ]' name='message' maxlength='3000' :class='{"has-value": value.length > 0 }' x-model="value" placeholder=' ' required)
    label(class='[ form__label ]' for='message')
      | Message 
      abbr(class='required' title='Required') *

  input#lead-source(type='hidden', value='Contact Us | Clever Marketing')
  input#lead-url(type='hidden', value='https://getclever.marketing/contact-us')

  div(class=`[ arrow ] [ flex--middle font--500 pb--0 ]`)
    span(class='[ in-bl mr--0.5 ]')
      input#submit(type='submit', value='Send')
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 191.4 94.1"><path d="M131.9 55.3h-119c-2.5 0-5-.2-7.4-.9C1.5 53.2-.3 50 0 46c.3-3.9 2.5-6.6 6.3-7.4 2.4-.5 5-.6 7.4-.6h118.1V14.2c0-2-.6-4.2.2-5.9 1.2-2.9 2.7-6.6 5.1-7.7 2.4-1.1 7.1-.6 9 1.2 14.2 12.6 28.1 25.6 41.9 38.6 4.5 4.3 4.4 9.2-.2 13.5-13.3 12.6-26.8 25-40.2 37.5-3.2 3-6.8 3.5-10.6 1.7-3.7-1.7-5.2-4.8-5.2-8.9.1-9.3.1-18.7.1-28.9z"/></svg>
