  
nav(class='[ x--wide flex--center ]')
  ul(class='[ pagination ] [ flex--middle gc--1 animated fade-in--up ]')
  
    li(class='[ prev ]')
      a(class=' [ color--prime flex--middle ]' href="#") 
        span(class='[ ml--0.5 o--2 ]') Prev
        span(class='[ o--1 ]') 
          +angles-left(13)
    
    - p = 0

    while p++ < 3
      li 
        a(class='[ color--prime ]' href="#")= p
  
    li(class='[ next ]')
      a(class='[ color--prime flex--middle ]' href="#")
        span(class='[ mr--0.5 ]') Next
        span
          +angles-right(13)

