div(class='[ form__field select ] [ flex--col--rev mb--4 ]' :class="{'open': open = open}" x-data="{value:'', open: '' }")
  input#enquiry(class='[ form__input select__input ] [ font--4 font--500 py--0.25 ]' type='text' name='enquiry' :class="{'has-value':value.length > 0,'open': open = open}" x-model='value' placeholder=' ')
  label(class='[ form__label ]' for='enquiry') 
    | What are you inquiring about?
  div(class='[ btn--select ] [ flex--end--bottom pb--0.45 pr--0.65 ]' :class="{'open':open=open,'closed':value.length > 0}" @click='open = ! open' @click.outside='open=false' )
    span(class='[ block ]')
      +down-long(16)
      
  
  - 
    options = [

      {option:'New website'},
      {option:'New eCommerce website'},
      {option:'Custom Wordpress development'},
      {option:'Upgrade exisiting Wordpress website'},
      {option:'ROI / Brochure site'},
      {option:'Hosting'},

    ]

  ul(class='[ options ] [ w--100 ]' :class="{'open':open=open}")
    div
      each item, option in options 
        li(id=`option_${option + 1}` class='[ option ] [ font--500 px--0.5 py--0.5 ]' x-on:click=`value = '${item.option}';open=false`)=item.option


//- https://codepen.io/aywiguna/pen/gOPwaXw
