<nav class="[ breadcrumbs ][ px--2 md:px--0 ]" aria-label="Breadcrumb">
  <ol class="[ flex middle col-gap--1 ]">

    {{- $homeIcon := readFile "static/icons/home.svg" | safeHTML -}}
    {{- range $index, $ancestor := .Ancestors.Reverse -}}
      {{- $title := partial "category-title.html" $ancestor.LinkTitle -}}
      <li class="[ breadcrumb ]">
        <a class="[ breadcrumb__link ]{{- if eq $index 0 -}}[ flex ]{{- end -}}" href="{{ $ancestor.RelPermalink }}" title="{{ $title }}" aria-label="{{ $title }}" data-prefetch>
          {{- if eq $index 0 -}}
            {{ $homeIcon }}
          {{- else -}}
          {{- $title -}}
          {{- end -}}
        </a>
      </li>
    {{- end -}}

    <li class="[ breadcrumb ][ font--700 ]" aria-current="page">
      <a class="[ breadcrumb__link--last ]" href="{{ .RelPermalink }}" tabindex="-1">{{- partial "category-title.html" .LinkTitle -}}</a>
    </li>

  </ol>
</nav>
