{{- $twic := .Site.Params.twic -}}
{{ with .Resources.GetMatch (.Params.hero.image) }}
<header class="[ hero hero--service ][ py--5 ]" data-twic-background="url(image:{{ .RelPermalink }})">
    <style>.hero__background {background-image: url('https://{{- $twic -}}.twic.pics{{ .RelPermalink }}?twic=v1/output=preview');}</style>
  {{ end }}
  <div class="[ wrapper ][ flex middle ]">
    <div class="[ hero__content ][ ch--54 ]">
      <h1>{{ .Title }}</h1>
      <p class="[ font--4 ]">{{ .Description }}</p>
    </div>
  </div>
</header>