<header id="navbar"  class="[ navbar ][ full-width content-grid ]" >
  <div class="[ wrapper ][ flex between middle ]">
    <a class="[ logo ]" href="/" title="Home" aria-label="Home" data-prefetch>
      {{- readFile "static/icons/logo.svg" | safeHTML }}
    </a>
    <nav class="[ nav ]">
      <ul class="[ menu ][ flex ]">
        {{- $context := .context -}}
        {{- $currentPage := .currentPage -}}
        {{with $context}}
          {{ range .Site.Menus.main }}
          <li class="[ menu__item ][ grid font--500 ]">
            <a class="[ menu__link link--navbar ]{{ if eq $.currentPage.RelPermalink .URL }}[ current {{ end }}" href="{{ .URL }}" {{ if eq $.currentPage.RelPermalink .URL }}aria-current="page"{{ end }} data-prefetch>{{ .Name }}</a>
          </li>
          {{ end }}
        {{end}}
      </ul>
    </nav>
  </div>
</header>