<header id="navbar"  class="[ navbar ][ full-width content-grid middle ]" >
  <div class="[ wrapper ][ flex between middle ]">
    <a class="[ logo ]" href="/" title="Home" aria-label="Home" data-prefetch>
      {{- readFile "static/icons/logo.svg" | safeHTML }}
    </a>
    <label class="[ navicon ][ middle relative ]" id="navicon" for="click">
      <input class="[ hidden ]" id="click" type="checkbox">
      <strong class="[ hidden ]" id="prompt">Menu</strong>
      <b class="[ bar ][ block ]"></b>
    </label>
    <nav class="[ navigation--main ][ lg:flex lg:middle ]">
      <ul class="[ menu ][ col-gap--2 ]">
        {{- $context := .context -}}
        {{- $currentPage := .currentPage -}}
        {{with $context}}
          {{ range .Site.Menus.main }}
          <li class="[ menu__item ][ font--600 relative no-wrap {{ if eq $.currentPage.RelPermalink .URL }}current {{ end }}]">
            {{ if .HasChildren }}
            <div class="[ col-gap--0.25 ]">
              <a class="[ menu__link ][ flex flex--col center ]" href="{{ .URL }}" {{ if eq $.currentPage.RelPermalink .URL }}aria-current="page"{{ end }} data-prefetch>{{ .Name }}</a>
              <label class="[ arrow ][ flex center middle ]" for="submenu">
                <input id="submenu" type="checkbox" aria-label="Submenu" hidden>
                <span class="[ icon icon--arrow ][ flex middle ]">
                  {{- readFile "static/tabler/chevron-down.svg" | safeHTML }}
                </span>
              </label>
            </div>
            {{else}}
            <a class="[ menu__link ][ flex flex--col center ]" href="{{ .URL }}" {{ if eq $.currentPage.RelPermalink .URL }}aria-current="page"{{ end }} data-prefetch>
              <span>{{ .Name }}</span>
            </a>
            {{ end }}
          {{ if .HasChildren }}
          <ul id="submenu-{{ .Weight }}" class="[ submenu ]">
            {{ range .Children }}
              <li class="[ submenu__item ]">
                <a class="[ submenu__link ][ block no-wrap py--1 ]" href="{{ .URL }}" data-prefetch>{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
          {{ end }}
        {{end}}
      </ul>
    </nav>
  </div>
</header>