@use 'abstracts' as *

.loop-wrap
  grid-template-rows: 1fr max-content

.posts--header

  +breakpoint('tablet')
    grid-template-columns: 2fr max-content

.post

  &__link
    color: color('black')

  &__img
    background-color: color('black')

  h2
    line-height: 1.3
    +transition(text-decoration)

  +hover

    h2
      text-decoration: underline

