extends ../layout/_layout

block var
  - title = 'Contact'
  - heading = 'Digital solutions. Real world results.'
  - description = 'Contact Clever and talk to us about your next project. We\'re happy to hear from you and see how we can help.'
  - subheading = 'We\'re happy to hear from you and see how we can help. Talk to us about your next project.'
  - pageUrl = ''
  - contact = 'current'

  - crumbs = {'Contact':'last'}


  

block content
  main(class='[ main ]')

    include ../partials/_hero
        
    div(class='[ layout--sidebar--right ] [ x--wide grid gc--5 gr--4 py--5  ]')

      include ../components/_contact-form
    
      aside(class='[ animated fade-in--up ]')

        //- address(class='[ pb--2 ]')

        //-   p(class='pb--0') Tampa, 
        //-     abbr(title='Florida') FL
        //-   +tel('813', '816', '5978')(class='[ font--4 font--700 ]')

        //- address(class='[ pb--2 ]')

        //-   p(class='pb--0') Miami, 
        //-     abbr(title='Florida') FL
        //-   +tel('305', '810', '8703')(class='[ font--4 font--700 ]')

        //- address(class='[ mb--8 ]')

        //-   p(class='[ pb--0 ]') Nassau, 
        //-     abbr(title='New Providence') NP
        //-   +tel('242', '601', '3613')(class='[ font--4 font--700 ]')

        
        div
          p Need hosting?
          +arrow('Try Clever Hosting', '/support-hosting', 500)


block footer
  +script('bouncer', false)
