extends ../layout/_layout

block var
  - title = 'Titan Logistics | Your Trusted 3PL Partner | Nassau, Bahamas'
  - description = 'Titan Logistics: Trusted 3PL Solutions for the Bahamas and Beyond. Streamline your supply chain with our comprehensive logistics management, warehousing, and transportation services. Serving industries such as e-commerce, food and beverage, manufacturing, healthcare, and hospitality. Discover our story and why businesses choose us. Contact us today for optimized supply chain solutions.'
  - url = 'filiio-desktop-laptop-phone-it-is-time.jpg'
  - white = true

  - home = true

block content

  //- include ../graphics/_triangle-yellow

  main#main(class='[ main ]')
    
    include ../partials/_hero

    - o = 0

    section(class='[ x--wide ]')

    include ../partials/_services

    section(class='[ about-us ] [ x--wide grid md:x2 lg:x4 py--5 ]')

      div(class='[ o--2 ]')
        h2 Discover our story...

        p At Titan Logistics, our journey is built on over a decade of expertise in supply chain management, warehousing, inventory, logistics, and transportation. We take pride in delivering tailored solutions to optimize your operations and provide exceptional service. With a customer-centric approach, we strive to exceed your expectations and ensure seamless supply chain performance.

      figure(class='[ o--1 ]')

block footer
  //- script(src="scripts/app.build.js", async)